<app-header></app-header>
<div class="body">
  <router-outlet></router-outlet>
</div>
<div class="hidden-buttons">
  <ng-container *ngIf="isChecked">
    <button mat-raised-button color="primary" (click)="createCustomers()">Create customers</button>
    <button mat-raised-button color="primary" (click)="createVehicles()">Create vehicles</button>
    <button mat-raised-button color="primary" (click)="createContracts()">Create contracts</button>
  </ng-container>
  <div class="buttons-toggle">
    <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
  </div>
</div>
