<h2 class="page-header">Customers</h2>
<div class="container">
  <div class="button-block right-area">
    <button mat-raised-button color="primary" (click)="addNewCustomer()">New customer</button>
  </div>
  <div class="grid">
    <ng-container *ngIf="customers$ | async as dataSource; else noDataSource">
      <table mat-table
             [dataSource]="dataSource"
             class="mat-elevation-z8">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
        </ng-container>
        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <!-- BirthDate Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef> Birthday </th>
          <td mat-cell *matCellDef="let element"> {{element.birthDate | date}} </td>
        </ng-container>
        <!-- Details Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element">
            <fa-icon class="action-icon" (click)="showDetails(element.id)" [icon]="detailsIcon"></fa-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>

    <ng-template #noDataSource>
      <div class="no-items">
        No customers at this moment.
      </div>
    </ng-template>
  </div>
</div>
